<a href="https://colab.research.google.com/github/DamodaraBarbosa/infos_xbox_game_pass/blob/main/Concat_Xbox_Games_Metacritic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Concatenando os dataframes (Xbox One e Xbox Series) com notas no Metacritic

Importando as bibliotecas

In [ ]:
import pandas as pd
import numpy as np

## Definindo os Dataframes

Com os dados de jogos do Xbox 360

In [ ]:
df_xbox_360_metacritic = pd.read_csv('/content/drive/MyDrive/Dados Xbox/df_xbox_360_metacritic.csv')

In [ ]:
df_xbox_360_metacritic.head()

,Name,Release date,Metascore,Userscore
0,Indiana Jones and the Emperor's Tomb,"June 11, 2019",tbd,tbd
1,Tom Clancy's Splinter Cell,"June 11, 2019",tbd,tbd
2,Armed and Dangerous,"June 11, 2019",tbd,tbd
3,Sphinx and the Cursed Mummy,"June 11, 2019",tbd,tbd
4,Tom Clancy's Splinter Cell: Pandora Tomorrow,"June 11, 2019",tbd,tbd

Com os dados de jogos do Xbox One

In [ ]:
df_xbox_one_metacritic = pd.read_csv('/content/drive/MyDrive/Dados Xbox/metacritic_xbox_one.csv')

In [ ]:
df_xbox_one_metacritic.head()

,Name,Release date,Metascore,Userscore
0,Red Dead Redemption 2,"October 26, 2018",97,8.2
1,Grand Theft Auto V,"November 18, 2014",97,7.9
2,Metal Gear Solid V: The Phantom Pain,"September 1, 2015",95,7.6
3,Celeste,"January 26, 2018",94,7.6
4,The Witcher 3: Wild Hunt - Blood and Wine,"May 31, 2016",94,8.6

Com os dados de jogos do Xbox Series X

In [ ]:
df_xbox_series_metacritic = pd.read_csv('/content/drive/MyDrive/Dados Xbox/metacritic_xseries (1).csv')

In [ ]:
df_xbox_series_metacritic.head()

                                Name       Release date  Metascore Userscore
0                         Elden Ring  February 25, 2022         96       7.7
1                    Persona 5 Royal   October 21, 2022         95       8.7
2                              Hades    August 13, 2021         93       8.6
3  The Stanley Parable: Ultra Deluxe     April 27, 2022         93       8.5
4                    Forza Horizon 5   November 5, 2021         92       8.2

## Concatenando os Dataframes

In [ ]:
xbox_games_metacritic = pd.concat([df_xbox_360_metacritic, df_xbox_one_metacritic, df_xbox_series_metacritic], 
                            ignore_index= True)

In [ ]:
xbox_games_metacritic.head()

,Name,Release date,Metascore,Userscore
0,Indiana Jones and the Emperor's Tomb,"June 11, 2019",tbd,tbd
1,Tom Clancy's Splinter Cell,"June 11, 2019",tbd,tbd
2,Armed and Dangerous,"June 11, 2019",tbd,tbd
3,Sphinx and the Cursed Mummy,"June 11, 2019",tbd,tbd
4,Tom Clancy's Splinter Cell: Pandora Tomorrow,"June 11, 2019",tbd,tbd

In [ ]:
xbox_games_metacritic.shape

(8269, 4)

# Tratando o dataframe

In [ ]:
# vericando os jogos que se repetem:

repeated_games = xbox_games_metacritic.duplicated(subset= 'Name')

In [ ]:
xbox_games_metacritic[repeated_games]

,Name,Release date,Metascore,Userscore
1441,MLB Bobblehead Battle,"September 28, 2011",tbd,tbd
2963,Indiana Jones and the Emperor's Tomb,"June 11, 2019",tbd,tbd
2964,Tom Clancy's Splinter Cell,"June 11, 2019",tbd,tbd
2965,Armed and Dangerous,"June 11, 2019",tbd,tbd
2966,Sphinx and the Cursed Mummy,"June 11, 2019",tbd,tbd
...,...,...,...,...
8220,Kao the Kangaroo,"May 27, 2022",69,8.1
8231,Hunting Simulator 2,"March 23, 2021",66,tbd
8237,Saints Row,"August 23, 2022",65,3.1
8240,The Falconeer,"November 10, 2020",65,5.0
8244,Martha is Dead,"February 24, 2022",65,7.1

In [ ]:
# alguns jogos foram lançados em diferentes gerações dos consoles Xbox. Portanto, não é interessante manter dados
# que se repetem. Nesse projeto dar-se-á mais importância para os dados mais recentes, ou seja, do Xbox Series.

xbox_games_metacritic.drop_duplicates(subset= 'Name', keep= 'last', ignore_index= True,
                                  inplace= True)

In [ ]:
xbox_games_metacritic.shape

(5066, 4)

## Exportando o Dataframe

In [ ]:
xbox_games_metacritic.to_csv('xbox_games_metacritic.csv', index = False, encoding = 'utf-8-sig')